### C.Dados Projeto 1
**Análise Exploratória**

Após o meu feedback da APS-1 resolvi abordar outra questão, pois o Acordo de Paris (COP21) e Protocolo de Kyoto contam como tratados internacionais e não como organizações, tendo isso em vista optei por abordar a OPEC *(Organization of Petroleum Exporting Countries)*

"OPEC often has difficulty agreeing on policy decisions because its member countries differ widely in their oil export capacities, production costs, reserves, geological features, population, economic development, budgetary situations, and political circumstances. Indeed, over the course of market cycles, oil reserves can themselves become a source of serious conflict, instability and imbalances, in what economists call the "natural resource curse""

Fonte: https://en.wikipedia.org/wiki/OPEC

Como mencionado na célula anterior existem grandes dissiparidades entre os países membros da OPEC, tendo isso em vista gostaria de responder à seguinte questões:

- Quais indicadores socio-economicos aumentaram após os Países-membros ingressarem na OPEC?
- Houve alguma excessão entre os países mebros em relação a algum desses indicadores?

Motivo da pergunta: Dissiparidade Economica entre os membros, observando como exemplos a Venezuela, que bate recordes de inflação (53,798,500%) e os Estados Unidos que mantém esse indice abaixo de 2%

In [2]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
Oil_Production= pd.read_excel("Oil Production.xlsx")
Oil_Reserves= pd.read_excel("Oil Proved reserves.xlsx")
GDPperCapita= pd.read_excel("GDPpercapitaconstant2000US.xlsx")
TotalofGDP= pd.read_excel("indicator GDP at market prices, constant 2000 US$ (WB estimates).xlsx")
ExportPofGDP= pd.read_excel("Exports (p of GDP).xlsx")

In [ ]:
Oil_Production

In [ ]:
Oil_Reserves

In [ ]:
GDPperCapita

In [ ]:
TotalofGDP

In [ ]:
ExportPofGDP

## Filtrar com Países Membros da OPEC:
Tentativa 1 - **Falhou**
- Value Counts = apenas 1 país é detectado como membro da opec
- criou um país opec e só aribuiu o valor sim a ele ao invés de "ler" a lista

In [4]:
opec =["Algeria", "Angola", "Ecuador", "Equatorial Guinea", "Gabon", "Iran", "Iraq",
      "Kuwait", "Libya", "Nigeria", "Congo, Rep.", "Saudi Arabia",
      "United Arab Emirates","Venezuela","Indonesia", "Qatar"]
formeropec=["United Arab Emirates","Venezuela","Indonesia", "Qatar"]

In [ ]:
Oil_Production.loc[:,"OPEC"]= "não"
Oil_Production.loc["opec","OPEC"]= "sim"
Oil_Production.OPEC.value_counts()

In [ ]:
Oil_Production

Tentativa 2 - **Falhou**

***Key Error***"['Algeria' 'Angola' 'Ecuador' 'Equatorial Guinea' 'Gabon' 'Iran' 'Iraq'\n 'Kuwait' 'Libya' 'Nigeria' 'Congo, Rep.' 'Saudi Arabia'\n 'United Arab Emirates' 'Venezuela' 'Indonesia' 'Qatar'] not in index"

In [ ]:
Oil_Production.loc[:,"OPEC"]= "não"
Oil_Production.loc[opec,"OPEC"]= "sim"
Oil_Production.OPEC.value_counts()

In [ ]:
Oil_Production

Tentativa 3 - sucesso pt.1

In [10]:
Oil_Production_idx= Oil_Production.set_index("Crude oil production, total (toe)")
Oil_Production_idx.loc[:,"OPEC"]= 0
Oil_Production_idx.loc[opec,"OPEC"]= 1
OP=Oil_Production_idx[(Oil_Production_idx.OPEC)==1]
OP

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,2003,2004,2005,2006,2007,2008,2009,2010,2011,OPEC
"Crude oil production, total (toe)",,,,,,,,,,,,,,,,,,,,,
Algeria,2.648100e+07,3.387200e+07,3.907600e+07,4.290400e+07,4.478400e+07,4.820800e+07,3.709900e+07,5.009800e+07,5.088800e+07,4.735500e+07,...,7.900500e+07,8.355100e+07,8.643767e+07,8.620200e+07,8.648200e+07,8.562018e+07,7.784691e+07,7.550114e+07,7.431146e+07,1
Angola,6.550000e+05,6.310000e+05,5.370000e+05,7.500000e+05,2.458000e+06,5.065000e+06,5.721000e+06,7.057000e+06,8.175000e+06,8.541000e+06,...,4.283273e+07,5.446421e+07,6.903986e+07,6.963635e+07,8.252939e+07,9.347852e+07,8.906242e+07,9.197321e+07,8.524244e+07,1
"Congo, Rep.",7.100000e+04,6.200000e+04,NaN,NaN,NaN,NaN,NaN,3.360000e+05,2.091000e+06,2.455000e+06,...,1.118089e+07,1.155297e+07,1.263404e+07,1.433093e+07,1.154434e+07,1.223805e+07,1.423334e+07,1.508479e+07,1.522985e+07,1
Ecuador,4.287812e+05,3.751836e+05,3.215859e+05,2.687225e+05,2.143906e+05,2.143906e+05,2.143906e+05,4.192070e+06,1.120191e+07,9.486784e+06,...,2.269204e+07,2.855862e+07,2.880217e+07,2.899939e+07,2.768134e+07,2.741486e+07,2.634021e+07,2.634135e+07,2.706604e+07,1
Equatorial Guinea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.318007e+07,1.742115e+07,1.772999e+07,1.693783e+07,1.734859e+07,1.722956e+07,1.521263e+07,1.356636e+07,1.247385e+07,1
Gabon,1.265000e+06,1.447000e+06,3.445000e+06,4.641000e+06,5.027000e+06,5.423000e+06,5.795000e+06,6.303000e+06,7.597000e+06,1.020200e+07,...,1.200000e+07,1.175000e+07,1.170000e+07,1.173393e+07,1.148427e+07,1.176607e+07,1.148427e+07,1.248290e+07,1.223324e+07,1
Indonesia,2.453527e+07,2.392946e+07,2.574689e+07,3.032282e+07,3.241079e+07,4.311342e+07,4.503181e+07,5.472282e+07,6.754772e+07,6.941563e+07,...,5.732849e+07,5.524591e+07,5.314274e+07,4.889667e+07,4.754204e+07,4.897721e+07,4.794170e+07,4.833067e+07,4.560981e+07,1
Iran,9.566209e+07,1.068929e+08,1.305076e+08,1.427802e+08,1.692637e+08,1.925870e+08,2.286846e+08,2.537109e+08,2.953771e+08,3.031972e+08,...,1.979737e+08,2.068533e+08,2.050914e+08,2.078864e+08,2.095871e+08,2.129756e+08,2.039905e+08,2.071001e+08,2.058467e+08,1
Iraq,6.467544e+07,6.856680e+07,6.048853e+07,7.423725e+07,7.492105e+07,7.630027e+07,8.344265e+07,7.240972e+07,9.940216e+07,9.727704e+07,...,6.607485e+07,1.000369e+08,9.003432e+07,9.814732e+07,1.052254e+08,1.194906e+08,1.199837e+08,1.214468e+08,1.369356e+08,1
Kuwait,1.190114e+08,1.255565e+08,1.263923e+08,1.331282e+08,1.409080e+08,1.517989e+08,1.625495e+08,1.673492e+08,1.538004e+08,1.298704e+08,...,1.157668e+08,1.234035e+08,1.303830e+08,1.338083e+08,1.299095e+08,1.358132e+08,1.209514e+08,1.226894e+08,1.400413e+08,1
Libya,5.798177e+07,7.166927e+07,8.236263e+07,1.238586e+08,1.477109e+08,1.595449e+08,1.306842e+08,1.068197e+08,1.046326e+08,7.358567e+07,...,6.983038e+07,7.654840e+07,8.191369e+07,8.490950e+07,8.503073e+07,8.527609e+07,7.708358e+07,7.744385e+07,2.243197e+07,1
Nigeria,1.349663e+07,2.058974e+07,1.571323e+07,6.964372e+06,2.659919e+07,5.339541e+07,7.541363e+07,8.979595e+07,1.012740e+08,1.111255e+08,...,1.103129e+08,1.207026e+08,1.242207e+08,1.197320e+08,1.141027e+08,1.053031e+08,1.015359e+08,1.172386e+08,1.174411e+08,1
Qatar,1.160533e+07,1.449421e+07,1.613788e+07,1.698121e+07,1.773174e+07,1.808040e+07,2.141756e+07,2.407336e+07,2.839072e+07,2.580069e+07,...,4.077743e+07,4.604401e+07,4.728628e+07,5.090808e+07,5.360508e+07,6.084348e+07,5.786767e+07,6.568548e+07,7.105272e+07,1
Saudi Arabia,1.110091e+08,1.308284e+08,1.412871e+08,1.542278e+08,1.627409e+08,1.921665e+08,2.407997e+08,3.042174e+08,3.840046e+08,4.296622e+08,...,4.838018e+08,5.043054e+08,5.248709e+08,5.124392e+08,4.923720e+08,5.134809e+08,4.627373e+08,4.665536e+08,5.258003e+08,1
United Arab Emirates,1.365663e+07,1.743399e+07,1.849940e+07,2.418310e+07,2.900823e+07,3.690195e+07,5.356110e+07,6.312857e+07,7.051081e+07,7.898567e+07,...,1.245483e+08,1.317354e+08,1.372777e+08,1.454702e+08,1.407384e+08,1.428902e+08,1.263057e+08,1.314199e+08,1.500942e+08,1
Venezuela,1.841140e+08,1.787859e+08,1.879250e+08,1.917624e+08,1.908055e+08,1.972381e+08,1.898766e+08,1.738123e+08,1.814345e+08,1.606502e+08,...,1.313791e+08,1.452008e+08,1.544523e+08,1.511663e+08,1.521356e+08,1.540565e+08,1.498856e+08,1.425374e+08,1.396426e+08,1

In [1]:
OP.columns = OP.columns.map(lambda x: str(x))

NameError: name 'OP' is not defined

Com o sucesso da tentativa 3 o processo será repetido para as outras planilhas

In [9]:
ExportPofGDP_idx=ExportPofGDP.set_index("Exports of goods and services (% of GDP)")
ExportPofGDP_idx.loc[:,"OPEC"]= 0
ExportPofGDP_idx.loc[opec,"OPEC"]= 1
EGDP=ExportPofGDP_idx[(ExportPofGDP_idx.OPEC)==1]
EGDP

,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,...,2003,2004,2005,2006,2007,2008,2009,2010,2011,OPEC
Exports of goods and services (% of GDP),,,,,,,,,,,,,,,,,,,,,
Algeria,46.244557,19.793872,24.684682,25.084059,22.603944,25.986197,23.434417,23.135635,23.788777,22.072734,...,38.266470,40.071885,47.646353,48.607848,46.609494,46.273658,29.289305,30.830405,NaN,1
Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,69.569978,69.686683,86.017538,79.837278,76.397484,78.098523,55.055275,62.413106,64.976975,1
"Congo, Rep.",19.459555,30.489597,36.472899,38.152602,36.008223,29.889299,30.479457,30.385836,32.075490,34.736829,...,80.812366,80.529793,84.158173,84.159678,78.529484,75.151487,70.417985,85.119671,87.283049,1
Ecuador,16.493213,17.889721,16.246073,15.654251,16.248990,17.704427,16.792323,16.944801,14.039125,15.232975,...,25.687927,27.410744,30.904340,33.853840,35.075847,37.862057,29.541531,32.949406,32.949406,1
Equatorial Guinea,NaN,68.137082,62.801205,62.602331,42.111766,43.819032,42.425330,29.623360,36.104382,35.699518,...,96.849256,90.130554,87.417383,86.757911,81.892206,78.806501,69.797653,69.899376,71.393520,1
Gabon,31.211693,31.714257,47.102995,41.891870,43.243243,39.735106,48.053907,48.422483,54.655460,49.720659,...,55.335171,62.203544,64.738257,61.931013,62.247796,66.567214,56.143894,60.285784,64.556664,1
Indonesia,10.711047,5.812903,10.165898,13.732184,5.527578,13.366957,9.195013,11.388885,9.451394,13.451007,...,30.477656,32.216693,34.067267,31.034716,29.435718,29.808284,24.159120,24.620993,26.327380,1
Iran,NaN,NaN,NaN,NaN,16.279815,16.516176,17.618615,17.861376,18.544104,19.163515,...,27.233915,29.047276,33.056609,32.450744,32.178954,NaN,NaN,NaN,NaN,1
Iraq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
Kuwait,NaN,64.624809,65.390280,64.864865,67.690254,65.690867,59.518349,61.724501,63.498483,59.816819,...,52.092241,56.916139,63.976603,65.544622,63.414260,66.759213,59.469125,60.074648,65.920469,1
Libya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,62.385010,63.255021,66.432854,71.303064,67.559492,67.384312,NaN,NaN,NaN,1
Nigeria,9.185127,8.269141,8.779166,9.202129,10.893449,10.413826,11.077329,9.927322,11.391069,8.407075,...,42.702727,43.951487,46.537439,42.867618,41.019976,42.754596,34.987436,35.204351,39.615506,1
Qatar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,61.697582,64.287325,67.338797,63.216595,57.338776,50.719418,47.096316,NaN,NaN,1
Saudi Arabia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.733686,48.190184,54.476915,...,46.118054,52.667797,60.878809,63.232556,64.767720,67.782927,53.639388,58.088579,61.612323,1
United Arab Emirates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,55.923199,63.567791,67.585434,68.631112,72.318513,79.024827,74.706916,77.936885,NaN,1
Venezuela,28.672805,29.170225,28.872649,26.822811,25.815217,24.337712,24.294020,22.369669,21.330902,20.920502,...,33.853389,36.198354,39.658653,36.518622,31.130539,30.821669,18.071519,28.530407,29.943015,1

## Join em determinado Ano
Tentativa 1

A OPEC foi fundada em 1960, no entanto para esse ano as informações estão incompletas;
O primeiro ano a ser estudado seria 1965, pois é o primeiro ano, para o qual possuo todas as informações de que necessito
(Produção de Petróleo, percentual da Exportação no PIB e PIB total);
Vou pegar os dados dos países de 5 em 5 anos, pois foi numa frequencia próxima a essas que novos países entravam

In [37]:
df = OP.join(EGDP, how='inner', lsuffix='Production', rsuffix='%Export')
df.loc[:, [1965, "1965"]]

                                           1965       1965
Crude oil production, total (toe)
Algeria                            2.648100e+07  22.603944
Angola                             6.550000e+05        NaN
Congo, Rep.                        7.100000e+04  36.008223
Ecuador                            4.287812e+05  16.248990
Equatorial Guinea                           NaN  42.111766
Gabon                              1.265000e+06  43.243243
Indonesia                          2.453527e+07   5.527578
Iran                               9.566209e+07  16.279815
Iraq                               6.467544e+07        NaN
Kuwait                             1.190114e+08  67.690254
Libya                              5.798177e+07        NaN
Nigeria                            1.349663e+07  10.893449
Qatar                              1.160533e+07        NaN
Saudi Arabia                       1.110091e+08        NaN
United Arab Emirates               1.365663e+07        NaN
Venezuela                          1.841140e+08  25.815217

In [38]:
df.loc[:, [2011, "2011"]]

                                           2011       2011
Crude oil production, total (toe)
Algeria                            7.431146e+07        NaN
Angola                             8.524244e+07  64.976975
Congo, Rep.                        1.522985e+07  87.283049
Ecuador                            2.706604e+07  32.949406
Equatorial Guinea                  1.247385e+07  71.393520
Gabon                              1.223324e+07  64.556664
Indonesia                          4.560981e+07  26.327380
Iran                               2.058467e+08        NaN
Iraq                               1.369356e+08        NaN
Kuwait                             1.400413e+08  65.920469
Libya                              2.243197e+07        NaN
Nigeria                            1.174411e+08  39.615506
Qatar                              7.105272e+07        NaN
Saudi Arabia                       5.258003e+08  61.612323
United Arab Emirates               1.500942e+08        NaN
Venezuela                          1.396426e+08  29.943015

In [39]:
df

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,2003,2004,2005,2006,2007,2008,2009,2010,2011,OPEC%Export
"Crude oil production, total (toe)",,,,,,,,,,,,,,,,,,,,,
Algeria,2.648100e+07,3.387200e+07,3.907600e+07,4.290400e+07,4.478400e+07,4.820800e+07,3.709900e+07,5.009800e+07,5.088800e+07,4.735500e+07,...,38.266470,40.071885,47.646353,48.607848,46.609494,46.273658,29.289305,30.830405,NaN,1
Angola,6.550000e+05,6.310000e+05,5.370000e+05,7.500000e+05,2.458000e+06,5.065000e+06,5.721000e+06,7.057000e+06,8.175000e+06,8.541000e+06,...,69.569978,69.686683,86.017538,79.837278,76.397484,78.098523,55.055275,62.413106,64.976975,1
"Congo, Rep.",7.100000e+04,6.200000e+04,NaN,NaN,NaN,NaN,NaN,3.360000e+05,2.091000e+06,2.455000e+06,...,80.812366,80.529793,84.158173,84.159678,78.529484,75.151487,70.417985,85.119671,87.283049,1
Ecuador,4.287812e+05,3.751836e+05,3.215859e+05,2.687225e+05,2.143906e+05,2.143906e+05,2.143906e+05,4.192070e+06,1.120191e+07,9.486784e+06,...,25.687927,27.410744,30.904340,33.853840,35.075847,37.862057,29.541531,32.949406,32.949406,1
Equatorial Guinea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,96.849256,90.130554,87.417383,86.757911,81.892206,78.806501,69.797653,69.899376,71.393520,1
Gabon,1.265000e+06,1.447000e+06,3.445000e+06,4.641000e+06,5.027000e+06,5.423000e+06,5.795000e+06,6.303000e+06,7.597000e+06,1.020200e+07,...,55.335171,62.203544,64.738257,61.931013,62.247796,66.567214,56.143894,60.285784,64.556664,1
Indonesia,2.453527e+07,2.392946e+07,2.574689e+07,3.032282e+07,3.241079e+07,4.311342e+07,4.503181e+07,5.472282e+07,6.754772e+07,6.941563e+07,...,30.477656,32.216693,34.067267,31.034716,29.435718,29.808284,24.159120,24.620993,26.327380,1
Iran,9.566209e+07,1.068929e+08,1.305076e+08,1.427802e+08,1.692637e+08,1.925870e+08,2.286846e+08,2.537109e+08,2.953771e+08,3.031972e+08,...,27.233915,29.047276,33.056609,32.450744,32.178954,NaN,NaN,NaN,NaN,1
Iraq,6.467544e+07,6.856680e+07,6.048853e+07,7.423725e+07,7.492105e+07,7.630027e+07,8.344265e+07,7.240972e+07,9.940216e+07,9.727704e+07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
Kuwait,1.190114e+08,1.255565e+08,1.263923e+08,1.331282e+08,1.409080e+08,1.517989e+08,1.625495e+08,1.673492e+08,1.538004e+08,1.298704e+08,...,52.092241,56.916139,63.976603,65.544622,63.414260,66.759213,59.469125,60.074648,65.920469,1
Libya,5.798177e+07,7.166927e+07,8.236263e+07,1.238586e+08,1.477109e+08,1.595449e+08,1.306842e+08,1.068197e+08,1.046326e+08,7.358567e+07,...,62.385010,63.255021,66.432854,71.303064,67.559492,67.384312,NaN,NaN,NaN,1
Nigeria,1.349663e+07,2.058974e+07,1.571323e+07,6.964372e+06,2.659919e+07,5.339541e+07,7.541363e+07,8.979595e+07,1.012740e+08,1.111255e+08,...,42.702727,43.951487,46.537439,42.867618,41.019976,42.754596,34.987436,35.204351,39.615506,1
Qatar,1.160533e+07,1.449421e+07,1.613788e+07,1.698121e+07,1.773174e+07,1.808040e+07,2.141756e+07,2.407336e+07,2.839072e+07,2.580069e+07,...,61.697582,64.287325,67.338797,63.216595,57.338776,50.719418,47.096316,NaN,NaN,1
Saudi Arabia,1.110091e+08,1.308284e+08,1.412871e+08,1.542278e+08,1.627409e+08,1.921665e+08,2.407997e+08,3.042174e+08,3.840046e+08,4.296622e+08,...,46.118054,52.667797,60.878809,63.232556,64.767720,67.782927,53.639388,58.088579,61.612323,1
United Arab Emirates,1.365663e+07,1.743399e+07,1.849940e+07,2.418310e+07,2.900823e+07,3.690195e+07,5.356110e+07,6.312857e+07,7.051081e+07,7.898567e+07,...,55.923199,63.567791,67.585434,68.631112,72.318513,79.024827,74.706916,77.936885,NaN,1
Venezuela,1.841140e+08,1.787859e+08,1.879250e+08,1.917624e+08,1.908055e+08,1.972381e+08,1.898766e+08,1.738123e+08,1.814345e+08,1.606502e+08,...,33.853389,36.198354,39.658653,36.518622,31.130539,30.821669,18.071519,28.530407,29.943015,1

In [ ]:
#join = dados.loc[(dados.region=='america_north') | (dados.region=='america_south'), ['Population','GDPcapita','surface']]