In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
Oil_Production= pd.read_excel("Oil Production.xlsx")
TotalofGDP= pd.read_excel("indicator GDP at market prices, constant 2000 US$ (WB estimates).xlsx")
ExportPofGDP= pd.read_excel("Exports (p of GDP).xlsx")

In [3]:
opec =["Algeria", "Angola", "Ecuador", "Equatorial Guinea", "Gabon", "Iran", "Iraq",
      "Kuwait", "Libya", "Nigeria", "Congo, Rep.", "Saudi Arabia",
      "United Arab Emirates","Venezuela","Indonesia", "Qatar"]
#formeropec=["United Arab Emirates","Venezuela","Indonesia", "Qatar"]

In [4]:
Oil_Production_idx= Oil_Production.set_index("Crude oil production, total (toe)")
Oil_Production_idx.loc[:,"OPEC"]= 0
Oil_Production_idx.loc[opec,"OPEC"]= 1
OP=Oil_Production_idx[(Oil_Production_idx.OPEC)==1]
OP

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,2003,2004,2005,2006,2007,2008,2009,2010,2011,OPEC
"Crude oil production, total (toe)",,,,,,,,,,,,,,,,,,,,,
Algeria,2.648100e+07,3.387200e+07,3.907600e+07,4.290400e+07,4.478400e+07,4.820800e+07,3.709900e+07,5.009800e+07,5.088800e+07,4.735500e+07,...,7.900500e+07,8.355100e+07,8.643767e+07,8.620200e+07,8.648200e+07,8.562018e+07,7.784691e+07,7.550114e+07,7.431146e+07,1
Angola,6.550000e+05,6.310000e+05,5.370000e+05,7.500000e+05,2.458000e+06,5.065000e+06,5.721000e+06,7.057000e+06,8.175000e+06,8.541000e+06,...,4.283273e+07,5.446421e+07,6.903986e+07,6.963635e+07,8.252939e+07,9.347852e+07,8.906242e+07,9.197321e+07,8.524244e+07,1
"Congo, Rep.",7.100000e+04,6.200000e+04,NaN,NaN,NaN,NaN,NaN,3.360000e+05,2.091000e+06,2.455000e+06,...,1.118089e+07,1.155297e+07,1.263404e+07,1.433093e+07,1.154434e+07,1.223805e+07,1.423334e+07,1.508479e+07,1.522985e+07,1
Ecuador,4.287812e+05,3.751836e+05,3.215859e+05,2.687225e+05,2.143906e+05,2.143906e+05,2.143906e+05,4.192070e+06,1.120191e+07,9.486784e+06,...,2.269204e+07,2.855862e+07,2.880217e+07,2.899939e+07,2.768134e+07,2.741486e+07,2.634021e+07,2.634135e+07,2.706604e+07,1
Equatorial Guinea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.318007e+07,1.742115e+07,1.772999e+07,1.693783e+07,1.734859e+07,1.722956e+07,1.521263e+07,1.356636e+07,1.247385e+07,1
Gabon,1.265000e+06,1.447000e+06,3.445000e+06,4.641000e+06,5.027000e+06,5.423000e+06,5.795000e+06,6.303000e+06,7.597000e+06,1.020200e+07,...,1.200000e+07,1.175000e+07,1.170000e+07,1.173393e+07,1.148427e+07,1.176607e+07,1.148427e+07,1.248290e+07,1.223324e+07,1
Indonesia,2.453527e+07,2.392946e+07,2.574689e+07,3.032282e+07,3.241079e+07,4.311342e+07,4.503181e+07,5.472282e+07,6.754772e+07,6.941563e+07,...,5.732849e+07,5.524591e+07,5.314274e+07,4.889667e+07,4.754204e+07,4.897721e+07,4.794170e+07,4.833067e+07,4.560981e+07,1
Iran,9.566209e+07,1.068929e+08,1.305076e+08,1.427802e+08,1.692637e+08,1.925870e+08,2.286846e+08,2.537109e+08,2.953771e+08,3.031972e+08,...,1.979737e+08,2.068533e+08,2.050914e+08,2.078864e+08,2.095871e+08,2.129756e+08,2.039905e+08,2.071001e+08,2.058467e+08,1
Iraq,6.467544e+07,6.856680e+07,6.048853e+07,7.423725e+07,7.492105e+07,7.630027e+07,8.344265e+07,7.240972e+07,9.940216e+07,9.727704e+07,...,6.607485e+07,1.000369e+08,9.003432e+07,9.814732e+07,1.052254e+08,1.194906e+08,1.199837e+08,1.214468e+08,1.369356e+08,1
Kuwait,1.190114e+08,1.255565e+08,1.263923e+08,1.331282e+08,1.409080e+08,1.517989e+08,1.625495e+08,1.673492e+08,1.538004e+08,1.298704e+08,...,1.157668e+08,1.234035e+08,1.303830e+08,1.338083e+08,1.299095e+08,1.358132e+08,1.209514e+08,1.226894e+08,1.400413e+08,1
Libya,5.798177e+07,7.166927e+07,8.236263e+07,1.238586e+08,1.477109e+08,1.595449e+08,1.306842e+08,1.068197e+08,1.046326e+08,7.358567e+07,...,6.983038e+07,7.654840e+07,8.191369e+07,8.490950e+07,8.503073e+07,8.527609e+07,7.708358e+07,7.744385e+07,2.243197e+07,1
Nigeria,1.349663e+07,2.058974e+07,1.571323e+07,6.964372e+06,2.659919e+07,5.339541e+07,7.541363e+07,8.979595e+07,1.012740e+08,1.111255e+08,...,1.103129e+08,1.207026e+08,1.242207e+08,1.197320e+08,1.141027e+08,1.053031e+08,1.015359e+08,1.172386e+08,1.174411e+08,1
Qatar,1.160533e+07,1.449421e+07,1.613788e+07,1.698121e+07,1.773174e+07,1.808040e+07,2.141756e+07,2.407336e+07,2.839072e+07,2.580069e+07,...,4.077743e+07,4.604401e+07,4.728628e+07,5.090808e+07,5.360508e+07,6.084348e+07,5.786767e+07,6.568548e+07,7.105272e+07,1
Saudi Arabia,1.110091e+08,1.308284e+08,1.412871e+08,1.542278e+08,1.627409e+08,1.921665e+08,2.407997e+08,3.042174e+08,3.840046e+08,4.296622e+08,...,4.838018e+08,5.043054e+08,5.248709e+08,5.124392e+08,4.923720e+08,5.134809e+08,4.627373e+08,4.665536e+08,5.258003e+08,1
United Arab Emirates,1.365663e+07,1.743399e+07,1.849940e+07,2.418310e+07,2.900823e+07,3.690195e+07,5.356110e+07,6.312857e+07,7.051081e+07,7.898567e+07,...,1.245483e+08,1.317354e+08,1.372777e+08,1.454702e+08,1.407384e+08,1.428902e+08,1.263057e+08,1.314199e+08,1.500942e+08,1
Venezuela,1.841140e+08,1.787859e+08,1.879250e+08,1.917624e+08,1.908055e+08,1.972381e+08,1.898766e+08,1.738123e+08,1.814345e+08,1.606502e+08,...,1.313791e+08,1.452008e+08,1.544523e+08,1.511663e+08,1.521356e+08,1.540565e+08,1.498856e+08,1.425374e+08,1.396426e+08,1

In [5]:
TotalofGDP_idx= TotalofGDP.set_index("GDP (constant 2000 US$)")
TotalofGDP_idx.loc[:,"OPEC"]= 0
TotalofGDP_idx.loc[opec,"OPEC"]= 1
TGDP=TotalofGDP_idx[(TotalofGDP_idx.OPEC)==1]
TGDP

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2003,2004,2005,2006,2007,2008,2009,2010,2011,OPEC
GDP (constant 2000 US$),,,,,,,,,,,,,,,,,,,,,
Algeria,1.382815e+10,1.194677e+10,9.595044e+09,1.288746e+10,1.364001e+10,1.448664e+10,1.379056e+10,1.509417e+10,1.672378e+10,1.813414e+10,...,6.291780e+10,6.618952e+10,6.956519e+10,7.095649e+10,7.308519e+10,7.483923e+10,7.663537e+10,7.916434e+10,8.114345e+10,1
Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.113710e+10,1.238254e+10,1.464378e+10,1.768017e+10,2.167467e+10,2.466948e+10,2.526473e+10,2.612566e+10,2.701394e+10,1
"Congo, Rep.",6.261270e+08,6.785380e+08,7.138377e+08,6.850750e+08,7.112229e+08,7.373708e+08,7.473915e+08,7.632084e+08,8.214513e+08,8.834587e+08,...,3.523961e+09,3.647300e+09,3.931789e+09,4.173101e+09,4.106749e+09,4.335494e+09,4.659307e+09,5.067060e+09,5.293030e+09,1
Ecuador,3.641530e+09,3.697722e+09,3.866297e+09,4.016141e+09,4.329877e+09,4.467235e+09,4.463233e+09,4.775389e+09,4.886444e+09,5.152578e+09,...,1.822856e+10,1.983704e+10,2.097643e+10,2.197312e+10,2.242087e+10,2.404452e+10,2.413153e+10,2.499582e+10,2.619562e+10,1
Equatorial Guinea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.764278e+09,3.814669e+09,4.186550e+09,4.239290e+09,5.148299e+09,5.697997e+09,6.024744e+09,5.979286e+09,6.403432e+09,1
Gabon,8.872898e+08,1.018309e+09,1.094165e+09,1.160826e+09,1.213696e+09,1.314837e+09,1.374110e+09,1.430657e+09,1.466549e+09,1.585089e+09,...,5.289812e+09,5.361014e+09,5.523002e+09,5.588239e+09,5.898574e+09,6.035624e+09,5.950756e+09,6.343810e+09,6.649167e+09,1
Indonesia,1.844892e+10,1.957521e+10,1.994903e+10,1.949957e+10,2.017259e+10,2.036364e+10,2.094409e+10,2.117971e+10,2.372852e+10,2.550279e+10,...,1.872730e+11,1.966945e+11,2.078915e+11,2.193275e+11,2.332438e+11,2.472704e+11,2.587163e+11,2.747447e+11,2.924849e+11,1
Iran,NaN,NaN,NaN,NaN,NaN,2.418788e+10,2.670995e+10,2.954843e+10,3.324258e+10,3.753299e+10,...,1.209272e+11,1.270752e+11,1.329504e+11,1.407864e+11,1.518026e+11,1.552941e+11,1.580893e+11,NaN,NaN,1
Iraq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.307061e+10,1.914844e+10,1.901440e+10,2.019330e+10,2.049620e+10,2.244333e+10,2.338595e+10,2.358340e+10,2.591888e+10,1
Kuwait,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.591057e+10,5.059345e+10,5.595636e+10,5.886609e+10,6.144030e+10,6.449388e+10,6.117245e+10,6.325843e+10,6.843929e+10,1
Libya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.617959e+10,3.777150e+10,4.151087e+10,4.396002e+10,4.659762e+10,4.836833e+10,4.938406e+10,NaN,NaN,1
Nigeria,1.283641e+10,1.286103e+10,1.338872e+10,1.453728e+10,1.525695e+10,1.600225e+10,1.532207e+10,1.290982e+10,1.274866e+10,1.583350e+10,...,5.310202e+10,5.873083e+10,6.190230e+10,6.574024e+10,6.998038e+10,7.417920e+10,7.937174e+10,8.558174e+10,9.129302e+10,1
Qatar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.034609e+10,2.458686e+10,2.645546e+10,3.137617e+10,3.702389e+10,4.357711e+10,4.880637e+10,5.690822e+10,6.760697e+10,1
Saudi Arabia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.709972e+10,3.933976e+10,...,2.042466e+11,2.150041e+11,2.269447e+11,2.341111e+11,2.388336e+11,2.489331e+11,2.491734e+11,2.607398e+11,2.784035e+11,1
United Arab Emirates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.179090e+11,1.291887e+11,1.354609e+11,1.488800e+11,1.536638e+11,1.587265e+11,1.561719e+11,1.584085e+11,1.661705e+11,1
Venezuela,4.111873e+10,4.243145e+10,4.605210e+10,4.784857e+10,5.317380e+10,5.538736e+10,5.622385e+10,5.781716e+10,6.205933e+10,6.249750e+10,...,1.018359e+11,1.204582e+11,1.328870e+11,1.460058e+11,1.587866e+11,1.671671e+11,1.618139e+11,1.594048e+11,1.660622e+11,1

In [6]:
ExportPofGDP_idx=ExportPofGDP.set_index("Exports of goods and services (% of GDP)")
ExportPofGDP_idx.loc[:,"OPEC"]= 0
ExportPofGDP_idx.loc[opec,"OPEC"]= 1
EGDP=ExportPofGDP_idx[(ExportPofGDP_idx.OPEC)==1]
EGDP

,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,...,2003,2004,2005,2006,2007,2008,2009,2010,2011,OPEC
Exports of goods and services (% of GDP),,,,,,,,,,,,,,,,,,,,,
Algeria,46.244557,19.793872,24.684682,25.084059,22.603944,25.986197,23.434417,23.135635,23.788777,22.072734,...,38.266470,40.071885,47.646353,48.607848,46.609494,46.273658,29.289305,30.830405,NaN,1
Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,69.569978,69.686683,86.017538,79.837278,76.397484,78.098523,55.055275,62.413106,64.976975,1
"Congo, Rep.",19.459555,30.489597,36.472899,38.152602,36.008223,29.889299,30.479457,30.385836,32.075490,34.736829,...,80.812366,80.529793,84.158173,84.159678,78.529484,75.151487,70.417985,85.119671,87.283049,1
Ecuador,16.493213,17.889721,16.246073,15.654251,16.248990,17.704427,16.792323,16.944801,14.039125,15.232975,...,25.687927,27.410744,30.904340,33.853840,35.075847,37.862057,29.541531,32.949406,32.949406,1
Equatorial Guinea,NaN,68.137082,62.801205,62.602331,42.111766,43.819032,42.425330,29.623360,36.104382,35.699518,...,96.849256,90.130554,87.417383,86.757911,81.892206,78.806501,69.797653,69.899376,71.393520,1
Gabon,31.211693,31.714257,47.102995,41.891870,43.243243,39.735106,48.053907,48.422483,54.655460,49.720659,...,55.335171,62.203544,64.738257,61.931013,62.247796,66.567214,56.143894,60.285784,64.556664,1
Indonesia,10.711047,5.812903,10.165898,13.732184,5.527578,13.366957,9.195013,11.388885,9.451394,13.451007,...,30.477656,32.216693,34.067267,31.034716,29.435718,29.808284,24.159120,24.620993,26.327380,1
Iran,NaN,NaN,NaN,NaN,16.279815,16.516176,17.618615,17.861376,18.544104,19.163515,...,27.233915,29.047276,33.056609,32.450744,32.178954,NaN,NaN,NaN,NaN,1
Iraq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
Kuwait,NaN,64.624809,65.390280,64.864865,67.690254,65.690867,59.518349,61.724501,63.498483,59.816819,...,52.092241,56.916139,63.976603,65.544622,63.414260,66.759213,59.469125,60.074648,65.920469,1
Libya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,62.385010,63.255021,66.432854,71.303064,67.559492,67.384312,NaN,NaN,NaN,1
Nigeria,9.185127,8.269141,8.779166,9.202129,10.893449,10.413826,11.077329,9.927322,11.391069,8.407075,...,42.702727,43.951487,46.537439,42.867618,41.019976,42.754596,34.987436,35.204351,39.615506,1
Qatar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,61.697582,64.287325,67.338797,63.216595,57.338776,50.719418,47.096316,NaN,NaN,1
Saudi Arabia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.733686,48.190184,54.476915,...,46.118054,52.667797,60.878809,63.232556,64.767720,67.782927,53.639388,58.088579,61.612323,1
United Arab Emirates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,55.923199,63.567791,67.585434,68.631112,72.318513,79.024827,74.706916,77.936885,NaN,1
Venezuela,28.672805,29.170225,28.872649,26.822811,25.815217,24.337712,24.294020,22.369669,21.330902,20.920502,...,33.853389,36.198354,39.658653,36.518622,31.130539,30.821669,18.071519,28.530407,29.943015,1

In [12]:
df1 = OP.join(EGDP, how='inner', lsuffix='Production', rsuffix='Export')

In [13]:
df1.head()

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,2003,2004,2005,2006,2007,2008,2009,2010,2011,OPECExport
"Crude oil production, total (toe)",,,,,,,,,,,,,,,,,,,,,
Algeria,2.648100e+07,3.387200e+07,3.907600e+07,4.290400e+07,4.478400e+07,4.820800e+07,3.709900e+07,5.009800e+07,5.088800e+07,4.735500e+07,...,38.266470,40.071885,47.646353,48.607848,46.609494,46.273658,29.289305,30.830405,NaN,1
Angola,6.550000e+05,6.310000e+05,5.370000e+05,7.500000e+05,2.458000e+06,5.065000e+06,5.721000e+06,7.057000e+06,8.175000e+06,8.541000e+06,...,69.569978,69.686683,86.017538,79.837278,76.397484,78.098523,55.055275,62.413106,64.976975,1
"Congo, Rep.",7.100000e+04,6.200000e+04,NaN,NaN,NaN,NaN,NaN,3.360000e+05,2.091000e+06,2.455000e+06,...,80.812366,80.529793,84.158173,84.159678,78.529484,75.151487,70.417985,85.119671,87.283049,1
Ecuador,4.287812e+05,3.751836e+05,3.215859e+05,2.687225e+05,2.143906e+05,2.143906e+05,2.143906e+05,4.192070e+06,1.120191e+07,9.486784e+06,...,25.687927,27.410744,30.904340,33.853840,35.075847,37.862057,29.541531,32.949406,32.949406,1
Equatorial Guinea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,96.849256,90.130554,87.417383,86.757911,81.892206,78.806501,69.797653,69.899376,71.393520,1

In [7]:
df2 = df1.join(TGDP, how='inner', rsuffix='TotalGDP')
for i in range(1965,2010,5):
    ano=str(i)
    df2.loc[:, [i, ano]]

C:\Users\User\Anaconda3\lib\site-packages\pandas\core\indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

In [11]:
df2

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,2003TotalGDP,2004TotalGDP,2005TotalGDP,2006TotalGDP,2007TotalGDP,2008TotalGDP,2009TotalGDP,2010TotalGDP,2011TotalGDP,OPEC
"Crude oil production, total (toe)",,,,,,,,,,,,,,,,,,,,,
Algeria,2.648100e+07,3.387200e+07,3.907600e+07,4.290400e+07,4.478400e+07,4.820800e+07,3.709900e+07,5.009800e+07,5.088800e+07,4.735500e+07,...,6.291780e+10,6.618952e+10,6.956519e+10,7.095649e+10,7.308519e+10,7.483923e+10,7.663537e+10,7.916434e+10,8.114345e+10,1
Angola,6.550000e+05,6.310000e+05,5.370000e+05,7.500000e+05,2.458000e+06,5.065000e+06,5.721000e+06,7.057000e+06,8.175000e+06,8.541000e+06,...,1.113710e+10,1.238254e+10,1.464378e+10,1.768017e+10,2.167467e+10,2.466948e+10,2.526473e+10,2.612566e+10,2.701394e+10,1
"Congo, Rep.",7.100000e+04,6.200000e+04,NaN,NaN,NaN,NaN,NaN,3.360000e+05,2.091000e+06,2.455000e+06,...,3.523961e+09,3.647300e+09,3.931789e+09,4.173101e+09,4.106749e+09,4.335494e+09,4.659307e+09,5.067060e+09,5.293030e+09,1
Ecuador,4.287812e+05,3.751836e+05,3.215859e+05,2.687225e+05,2.143906e+05,2.143906e+05,2.143906e+05,4.192070e+06,1.120191e+07,9.486784e+06,...,1.822856e+10,1.983704e+10,2.097643e+10,2.197312e+10,2.242087e+10,2.404452e+10,2.413153e+10,2.499582e+10,2.619562e+10,1
Equatorial Guinea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.764278e+09,3.814669e+09,4.186550e+09,4.239290e+09,5.148299e+09,5.697997e+09,6.024744e+09,5.979286e+09,6.403432e+09,1
Gabon,1.265000e+06,1.447000e+06,3.445000e+06,4.641000e+06,5.027000e+06,5.423000e+06,5.795000e+06,6.303000e+06,7.597000e+06,1.020200e+07,...,5.289812e+09,5.361014e+09,5.523002e+09,5.588239e+09,5.898574e+09,6.035624e+09,5.950756e+09,6.343810e+09,6.649167e+09,1
Indonesia,2.453527e+07,2.392946e+07,2.574689e+07,3.032282e+07,3.241079e+07,4.311342e+07,4.503181e+07,5.472282e+07,6.754772e+07,6.941563e+07,...,1.872730e+11,1.966945e+11,2.078915e+11,2.193275e+11,2.332438e+11,2.472704e+11,2.587163e+11,2.747447e+11,2.924849e+11,1
Iran,9.566209e+07,1.068929e+08,1.305076e+08,1.427802e+08,1.692637e+08,1.925870e+08,2.286846e+08,2.537109e+08,2.953771e+08,3.031972e+08,...,1.209272e+11,1.270752e+11,1.329504e+11,1.407864e+11,1.518026e+11,1.552941e+11,1.580893e+11,NaN,NaN,1
Iraq,6.467544e+07,6.856680e+07,6.048853e+07,7.423725e+07,7.492105e+07,7.630027e+07,8.344265e+07,7.240972e+07,9.940216e+07,9.727704e+07,...,1.307061e+10,1.914844e+10,1.901440e+10,2.019330e+10,2.049620e+10,2.244333e+10,2.338595e+10,2.358340e+10,2.591888e+10,1
Kuwait,1.190114e+08,1.255565e+08,1.263923e+08,1.331282e+08,1.409080e+08,1.517989e+08,1.625495e+08,1.673492e+08,1.538004e+08,1.298704e+08,...,4.591057e+10,5.059345e+10,5.595636e+10,5.886609e+10,6.144030e+10,6.449388e+10,6.117245e+10,6.325843e+10,6.843929e+10,1
Libya,5.798177e+07,7.166927e+07,8.236263e+07,1.238586e+08,1.477109e+08,1.595449e+08,1.306842e+08,1.068197e+08,1.046326e+08,7.358567e+07,...,3.617959e+10,3.777150e+10,4.151087e+10,4.396002e+10,4.659762e+10,4.836833e+10,4.938406e+10,NaN,NaN,1
Nigeria,1.349663e+07,2.058974e+07,1.571323e+07,6.964372e+06,2.659919e+07,5.339541e+07,7.541363e+07,8.979595e+07,1.012740e+08,1.111255e+08,...,5.310202e+10,5.873083e+10,6.190230e+10,6.574024e+10,6.998038e+10,7.417920e+10,7.937174e+10,8.558174e+10,9.129302e+10,1
Qatar,1.160533e+07,1.449421e+07,1.613788e+07,1.698121e+07,1.773174e+07,1.808040e+07,2.141756e+07,2.407336e+07,2.839072e+07,2.580069e+07,...,2.034609e+10,2.458686e+10,2.645546e+10,3.137617e+10,3.702389e+10,4.357711e+10,4.880637e+10,5.690822e+10,6.760697e+10,1
Saudi Arabia,1.110091e+08,1.308284e+08,1.412871e+08,1.542278e+08,1.627409e+08,1.921665e+08,2.407997e+08,3.042174e+08,3.840046e+08,4.296622e+08,...,2.042466e+11,2.150041e+11,2.269447e+11,2.341111e+11,2.388336e+11,2.489331e+11,2.491734e+11,2.607398e+11,2.784035e+11,1
United Arab Emirates,1.365663e+07,1.743399e+07,1.849940e+07,2.418310e+07,2.900823e+07,3.690195e+07,5.356110e+07,6.312857e+07,7.051081e+07,7.898567e+07,...,1.179090e+11,1.291887e+11,1.354609e+11,1.488800e+11,1.536638e+11,1.587265e+11,1.561719e+11,1.584085e+11,1.661705e+11,1
Venezuela,1.841140e+08,1.787859e+08,1.879250e+08,1.917624e+08,1.908055e+08,1.972381e+08,1.898766e+08,1.738123e+08,1.814345e+08,1.606502e+08,...,1.018359e+11,1.204582e+11,1.328870e+11,1.460058e+11,1.587866e+11,1.671671e+11,1.618139e+11,1.594048e+11,1.660622e+11,1

In [9]:
df1

,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,2003,2004,2005,2006,2007,2008,2009,2010,2011,OPECExport
"Crude oil production, total (toe)",,,,,,,,,,,,,,,,,,,,,
Algeria,2.648100e+07,3.387200e+07,3.907600e+07,4.290400e+07,4.478400e+07,4.820800e+07,3.709900e+07,5.009800e+07,5.088800e+07,4.735500e+07,...,38.266470,40.071885,47.646353,48.607848,46.609494,46.273658,29.289305,30.830405,NaN,1
Angola,6.550000e+05,6.310000e+05,5.370000e+05,7.500000e+05,2.458000e+06,5.065000e+06,5.721000e+06,7.057000e+06,8.175000e+06,8.541000e+06,...,69.569978,69.686683,86.017538,79.837278,76.397484,78.098523,55.055275,62.413106,64.976975,1
"Congo, Rep.",7.100000e+04,6.200000e+04,NaN,NaN,NaN,NaN,NaN,3.360000e+05,2.091000e+06,2.455000e+06,...,80.812366,80.529793,84.158173,84.159678,78.529484,75.151487,70.417985,85.119671,87.283049,1
Ecuador,4.287812e+05,3.751836e+05,3.215859e+05,2.687225e+05,2.143906e+05,2.143906e+05,2.143906e+05,4.192070e+06,1.120191e+07,9.486784e+06,...,25.687927,27.410744,30.904340,33.853840,35.075847,37.862057,29.541531,32.949406,32.949406,1
Equatorial Guinea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,96.849256,90.130554,87.417383,86.757911,81.892206,78.806501,69.797653,69.899376,71.393520,1
Gabon,1.265000e+06,1.447000e+06,3.445000e+06,4.641000e+06,5.027000e+06,5.423000e+06,5.795000e+06,6.303000e+06,7.597000e+06,1.020200e+07,...,55.335171,62.203544,64.738257,61.931013,62.247796,66.567214,56.143894,60.285784,64.556664,1
Indonesia,2.453527e+07,2.392946e+07,2.574689e+07,3.032282e+07,3.241079e+07,4.311342e+07,4.503181e+07,5.472282e+07,6.754772e+07,6.941563e+07,...,30.477656,32.216693,34.067267,31.034716,29.435718,29.808284,24.159120,24.620993,26.327380,1
Iran,9.566209e+07,1.068929e+08,1.305076e+08,1.427802e+08,1.692637e+08,1.925870e+08,2.286846e+08,2.537109e+08,2.953771e+08,3.031972e+08,...,27.233915,29.047276,33.056609,32.450744,32.178954,NaN,NaN,NaN,NaN,1
Iraq,6.467544e+07,6.856680e+07,6.048853e+07,7.423725e+07,7.492105e+07,7.630027e+07,8.344265e+07,7.240972e+07,9.940216e+07,9.727704e+07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
Kuwait,1.190114e+08,1.255565e+08,1.263923e+08,1.331282e+08,1.409080e+08,1.517989e+08,1.625495e+08,1.673492e+08,1.538004e+08,1.298704e+08,...,52.092241,56.916139,63.976603,65.544622,63.414260,66.759213,59.469125,60.074648,65.920469,1
Libya,5.798177e+07,7.166927e+07,8.236263e+07,1.238586e+08,1.477109e+08,1.595449e+08,1.306842e+08,1.068197e+08,1.046326e+08,7.358567e+07,...,62.385010,63.255021,66.432854,71.303064,67.559492,67.384312,NaN,NaN,NaN,1
Nigeria,1.349663e+07,2.058974e+07,1.571323e+07,6.964372e+06,2.659919e+07,5.339541e+07,7.541363e+07,8.979595e+07,1.012740e+08,1.111255e+08,...,42.702727,43.951487,46.537439,42.867618,41.019976,42.754596,34.987436,35.204351,39.615506,1
Qatar,1.160533e+07,1.449421e+07,1.613788e+07,1.698121e+07,1.773174e+07,1.808040e+07,2.141756e+07,2.407336e+07,2.839072e+07,2.580069e+07,...,61.697582,64.287325,67.338797,63.216595,57.338776,50.719418,47.096316,NaN,NaN,1
Saudi Arabia,1.110091e+08,1.308284e+08,1.412871e+08,1.542278e+08,1.627409e+08,1.921665e+08,2.407997e+08,3.042174e+08,3.840046e+08,4.296622e+08,...,46.118054,52.667797,60.878809,63.232556,64.767720,67.782927,53.639388,58.088579,61.612323,1
United Arab Emirates,1.365663e+07,1.743399e+07,1.849940e+07,2.418310e+07,2.900823e+07,3.690195e+07,5.356110e+07,6.312857e+07,7.051081e+07,7.898567e+07,...,55.923199,63.567791,67.585434,68.631112,72.318513,79.024827,74.706916,77.936885,NaN,1
Venezuela,1.841140e+08,1.787859e+08,1.879250e+08,1.917624e+08,1.908055e+08,1.972381e+08,1.898766e+08,1.738123e+08,1.814345e+08,1.606502e+08,...,33.853389,36.198354,39.658653,36.518622,31.130539,30.821669,18.071519,28.530407,29.943015,1

In [10]:
df2.loc[:, [2011, "2011","2011TotalGDP"]]

                                   2011          2011       2011  2011TotalGDP
Crude oil production, total (toe)
Algeria                             NaN  7.431146e+07        NaN  8.114345e+10
Angola                              NaN  8.524244e+07  64.976975  2.701394e+10
Congo, Rep.                         NaN  1.522985e+07  87.283049  5.293030e+09
Ecuador                             NaN  2.706604e+07  32.949406  2.619562e+10
Equatorial Guinea                   NaN  1.247385e+07  71.393520  6.403432e+09
Gabon                               NaN  1.223324e+07  64.556664  6.649167e+09
Indonesia                           NaN  4.560981e+07  26.327380  2.924849e+11
Iran                                NaN  2.058467e+08        NaN           NaN
Iraq                                NaN  1.369356e+08        NaN  2.591888e+10
Kuwait                              NaN  1.400413e+08  65.920469  6.843929e+10
Libya                               NaN  2.243197e+07        NaN           NaN
Nigeria                             NaN  1.174411e+08  39.615506  9.129302e+10
Qatar                               NaN  7.105272e+07        NaN  6.760697e+10
Saudi Arabia                        NaN  5.258003e+08  61.612323  2.784035e+11
United Arab Emirates                NaN  1.500942e+08        NaN  1.661705e+11
Venezuela                           NaN  1.396426e+08  29.943015  1.660622e+11